/* base container for all page content */
.page {
    width: 100%;
    display: flex;
    /*min-width: 333px;*/
    align-items: center;
    flex-direction: column;
    color: var(--white);
    background-color: var(--white);
}

.page__shadow {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: .5s;
    background: rgba(2, 0, 22, .8);
    z-index: 3;
}

.page__shadow_visible {
    visibility: visible;
    opacity: 1;
}

.page__container {
    width: 100%;
}

.page__container_upper {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: var(--cyan);
    padding-top: 20px;
}

.intro-animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page__container_upper * {
    color: var(--white);
    user-select: none;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 104px;
    width: 100%;
    max-width: var(--header-width);
    min-height: 98px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 70px;
    animation: .5s ease-in slideInFromLeft;
}

.menu {
    display: flex;
    justify-content: center;
}

.header__menu {
    flex-wrap: wrap;
    gap: 36px;
}

.menu__item {
    display: flex;
}

.menu__link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}

.menu__link:hover {
    transition: color .3s ease 50ms;
    color: var(--blue);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__text {
    font-size: 15px;
    font-weight: 500;
}

.header__right {
    display: flex;
    align-items: center;
    animation: .5s ease-in slideInFromRight;
}

.header__telephone {
    margin-right: 28px;
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
}

.header__telephone:hover {
    transition: color .3s ease 50ms;
    color: var(--blue);
}

@media (max-width: 1770px) {
    .page__container_upper {
        padding: 0 50px;
    }
}

@media (max-width: 1000px) {
    .header {
        margin-bottom: 53px;
    }

    .header__menu {
        display: none;
    }
}

@media (max-width: 820px) {
    .header {
        padding: 0 15px;
        margin-bottom: 37px;
    }
}

@media (max-width: 520px) {
    .header__telephone {
        display: none;
    }
}

@media (max-width: 420px) {
    .header {
        font-size: 36px;
        line-height: 37px;
        min-height: 56px;
        margin-bottom: 123px;
    }
}

/*intro*/
.intro {
    margin: 0 auto 47px;
    width: 100%;
    max-width: var(--header-width);
    display: flex;
    flex-direction: column;
}

.intro__main {
    width: 100%;
    max-width: 1060px;
    margin: auto;
    animation: .5s ease-in slideInFromLeft;
    overflow: hidden;
}

.intro__pagination {
    margin-bottom: 58px;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, .3);
    opacity: 1;
    width: 6px;
    height: 6px;
    margin: 0 15px;
    --swiper-pagination-bullet-horizontal-gap: 10px;
}

.swiper-pagination-bullet-active {
    background-color: var(--white);
}

.intro__title {
    width: fit-content;
    font-size: 80px;
    font-weight: 300;
    line-height: 82px;
    margin-bottom: 16px;
}

.intro__text {
    width: fit-content;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .01em;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, .6)
}

.intro__link {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: 23px;
}

.intro__link:hover {
    transition: filter .5s ease 50ms;
    filter: brightness(0) saturate(100%) invert(43%) sepia(78%) saturate(5541%) hue-rotate(194deg) brightness(102%) contrast(98%);
}

/*TODO: common classes for circles*/
.link__circle {
    position: relative;
    font-size: 30px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, .4);
    margin: 0 0 3px 3px;
}

.link__circle:before {
    position: absolute;
    top: 1px;
    right: -22px;
    content: '';
    padding: 25px;
    font-size: 50px;
    line-height: 5px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
}

.link__text {
    color: rgba(255, 255, 255, .7);
}

.intro__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -105px;
    margin-bottom: 8px;
}

.intro__socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: .5s ease-in slideInFromLeft;
}

.social-link {
    color: rgba(255, 255, 255, .6);
}

.social-link:hover {
    transition: color .3s ease 50ms;
    color: var(--blue);
}

.intro__dialog {
    align-self: flex-end;
    animation: .5s ease-in slideInFromRight;
}

.intro__dialog:hover {
    color: var(--blue);
    transition: filter .5s ease 50ms;
    filter: brightness(0) saturate(100%) invert(43%) sepia(78%) saturate(5541%) hue-rotate(194deg) brightness(102%) contrast(98%);
}

@media (max-width: 1700px) {
    .intro__main {
        max-width: 800px;
    }
}

@media (max-width: 1000px) {
    .intro {
        margin-bottom: 5px;
    }

    .intro__footer {
        display: none;
    }
}

@media (max-width: 820px) {
    .intro {
        padding: 0 10px;
        margin-bottom: 15px;
    }

    .intro__title {
        font-size: 52px;
        line-height: 50px;
        margin-bottom: 8px;
    }

    .intro__pagination {
        margin-bottom: 35px;
    }
}

@media (max-width: 420px) {
    .intro {
        margin-bottom: 41px;
    }

    .intro__title {
        font-size: 36px;
        line-height: 37px;
        margin-bottom: 25px;
    }
}

/*digital section*/
.digital {
    width: 100%;
    max-width: var(--main-width);
    padding-top: 151px;
    margin-bottom: 134px;
}

.digital__title {
    font-size: 76px;
    font-weight: 300;
    line-height: 84px;
    margin-bottom: 40px;
}

.digital__bolder {
    font-size: 76px;
    font-weight: 500;
    line-height: 84px;
    color: var(--cyan);
}

.digital__text {
    width: 100%;
    max-width: 820px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 101px;
}

.digital__bottom {
    margin-top: -117px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.digital__partners {
    margin-top: 78px;
}

.digital__recommend {
    display: block;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 36px;
}

.digital__list {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.digital__list button {
    border: unset;
    background-color: transparent;
    cursor: pointer;
}

.digital__list button:hover {
    filter: brightness(.7);
    transition: filter .3s ease 50ms;
}

.digital__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 261px;
    height: 261px;
    border-radius: 50%;
    font-weight: 500;
    line-height: 21px;
    background: var(--blue);
}

.digital__circle:hover {
    transition: .3s ease 50ms;
    filter: drop-shadow(10px 10px 10px var(--grey));
}

.circle__content {
    width: 150px;
}

.circle__agency {
    display: block;
    color: var(--grey-light);
    font-weight: 500;
    line-height: 21px;
}

.circle__trophy {
    align-self: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 1350px) {
    .digital {
        padding: 124px 60px 0;
    }

    .digital__title, .digital__bolder {
        font-size: 62px;
        line-height: 68px;
    }
}

@media (max-width: 1000px) {
    .digital {
        padding: 80px 60px 0;
    }

    .digital__title, .digital__bolder {
        font-size: 52px;
        line-height: 57px;
    }

    .digital__title {
        margin-bottom: 46px;
    }

    .digital__text {
        margin-bottom: 30px;
    }

    .digital__bottom {
        margin: 0;
    }

    .digital__partners {
        margin: 0;
    }
}

@media (max-width: 820px) {
    .digital__title, .digital__bolder {
        font-size: 36px;
        line-height: 40px;
    }
}

@media (max-width: 720px) {
    .digital__bottom {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .digital {
        padding: 64px 10px 0;
    }

    .digital__title, .digital__bolder {
        font-size: 36px;
        line-height: 40px;
    }
}

/*stories section*/
.stories {
    width: 100%;
    user-select: none;
    overflow-x: hidden;
    margin-bottom: 179px;
}

.stories__image {
    margin-bottom: 30px;
}

.stories__image:hover {
    transition: filter .5s ease 50ms;
    filter: brightness(70%) drop-shadow(10px 10px 20px var(--grey));
}

.stories__title {
    width: 300px;
    font-size: 22px;
    margin-bottom: 8px;
    color: var(--cyan);
}

.stories__description {
    width: 200px;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    color: var(--grey);
}

/*activities section*/
.activities {
    width: 100%;
    max-width: var(--main-width);
    margin-bottom: 37px;
}

.activities__title {
    width: 100%;
    max-width: 872px;
    font-size: 76px;
    font-weight: 200;
    line-height: 84px;
    color: var(--cyan);
    margin-bottom: 84px;
}

.activities__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 508px;
    gap: 28px;
    margin-bottom: 54px;
}

.grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 10px;
    border: 2px solid var(--grey-light);
    overflow: hidden;
}

.grid__item_big {
    grid-column: 1 / 3;
}

.grid__image {
    margin: 0 auto 13px;
}

.grid__content {
    padding: 0 64px;
}

.grid__title {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 25px;
}

.grid__list {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 11px;
}

.grid__list > li {
    font-weight: 300;
    line-height: 21px;
    color: var(--grey);
}

.activities__circle {
    width: 206px;
    min-width: 206px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.activities__circle:hover {
    transition: .3s ease 50ms;
    filter: drop-shadow(10px 10px 10px var(--grey));
    border-color: var(--grey);
}

.activities__circle span {
    display: block;
    line-height: 21px;
    color: var(--grey);
}

.activities__circle > .circle__content {
    width: 100px;
}

.activities__cards {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.activities__channels {
    margin: -21px auto;
    width: 100%;
    max-width: 361px;
    height: 189px;
    padding: 36px;
    color: var(--grey-middle);
    background-color: var(--grey-light);
    line-height: 22px;
}

@media (max-width: 1350px) {
    .activities {
        padding: 0 20px;
    }

    .activities__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .activities__title {
        font-size: 62px;
        line-height: 68px;
    }

    .grid__item {
        padding: 10px;
    }

    .grid__content {
        padding: 0 10px;
    }
}

@media (max-width: 1000px) {
    .activities__title {
        font-size: 52px;
        line-height: 57px;
    }

    .activities__channels {
        display: none;
    }
}

@media (max-width: 720px) {
    .activities__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid__item_big {
        grid-column: 1 / 2;
    }

    .grid__item_big > .grid__content > .grid__list:nth-of-type(2) {
        display: none;
    }

    .activities__title {
        font-size: 32px;
        line-height: 35px;
    }
}

/*strings section*/
.strings {
    width: 100%;
    overflow: hidden;
    margin: 0 auto 192px;
}

.strings__string {
    display: block;
    width: 127%;
    white-space: nowrap;
    font-size: 80px;
    font-weight: 200;
    line-height: 119px;
    margin: 0 0 30px -60px;
    text-transform: uppercase;
    color: var(--grey);
}

@media (max-width: 1350px) {
    .strings__string {
        line-height: 112px;
        margin-bottom: 20px;
    }

    .strings {
        margin-bottom: 150px;
    }
}

@media (max-width: 1000px) {
    .strings__string {
        font-size: 64px;
        line-height: 90px;
    }

    .strings {
        margin-bottom: 120px;
    }
}

@media (max-width: 720px) {
    .strings__string {
        font-size: 48px;
        line-height: 67px;
    }

    .strings {
        margin-bottom: 100px;
    }
}

@media (max-width: 420px) {
    .strings__string {
        font-size: 36px;
        line-height: 50px;
    }

    .strings {
        margin-bottom: 50px;
    }
}

/*goal section*/
.goal {
    width: 100%;
    max-width: var(--main-width);
    margin-bottom: 182px;
}

.card__image_multiply {
    mix-blend-mode: multiply;
}

.goal__title {
    font-size: 76px;
    font-weight: 200;
    line-height: 84px;
    color: var(--cyan);
    margin-bottom: 85px;
}

.goal__cards {
    display: grid;
    grid-template-columns: 38% 1fr 38%;
    grid-auto-rows: 704px;
    grid-gap: 30px;
}

.goal__card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
}

.goal__card:nth-child(4n+2),
.goal__card:nth-child(4n+3) {
    grid-column: span 2;
}

.goal__card:nth-child(4n+4) .card__content *,
.goal__card:nth-child(4n+1) .card__content * {
    color: var(--white);
}

.card__content-wrapper {
    width: 100%;
    display: flex;
    padding: 0 50px;
    z-index: 1;
}

.card__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 11px;
}

.card__subtitle {
    font-weight: 300;
    line-height: 20px;
}

.goal__card_green {
    background-color: #119917;
}

.goal__card_green .card__image {
    align-self: flex-start;
    margin-top: -160px;
}

.goal__card_green .card__content-wrapper {
    justify-content: flex-end;
}

.goal__card_beige {
    background-color: #FFF5F5;
}

.goal__card_beige .card__content-wrapper {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.goal__card_grey {
    background-color: #F2F2F2;
}

.goal__card_grey .card__image {
    align-self: flex-end;
    margin-top: -132px;
}

.goal__card_blue {
    background-color: #407AE4;
}

/*TODO: justify-self: flex-end; doesn't work :(*/
.goal__card_blue .card__image {
    align-self: flex-end;
    margin-top: auto;
}

.goal__card_blue .card__content {
    align-self: center;
}

.goal__card_red {
    background-color: #BE1E2D;
}

.goal__card_red .card__image {
    align-self: flex-end;
    margin-top: -150px;
}

.goal__card_red .card__image:last-child {
    display: none;
}

.goal__card_red .card__content-wrapper {
    justify-content: center;
}

.goal__card_red .card__content-wrapper * {
    text-align: center;
}

.card_car .card__content-wrapper {
    justify-content: center;
}

.card_car .card__content-wrapper * {
    text-align: center;
}

.card_car .card__content-wrapper {
    margin-bottom: 130px;
}

.card_car .card__image {
    margin: 0;
}

.goal__circle {
    position: relative;
    z-index: 1;
    width: 182px;
    min-width: 182px;
    height: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -45px auto 0;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.goal__circle:hover {
    transition: .3s ease 50ms;
    filter: drop-shadow(10px 10px 10px var(--grey));
    border-color: var(--grey);
}

.goal__circle span {
    display: block;
    font-weight: 300;
    line-height: 23px;
    color: var(--grey-middle);
}

.goal__circle > .circle__content {
    width: 100px;
}

.goal__dots {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
}

@media (max-width: 1350px) {
    .goal {
        padding: 0 159px;
    }
}

@media (max-width: 1200px) {
    .goal {
        padding: 0 159px;
    }

    .goal__title {
        font-size: 62px;
        font-weight: 200;
        line-height: 68px;
    }

    .goal__cards {
        grid-template-columns: 1fr 1fr;
    }

    .goal__card:nth-child(n) {
        grid-column: auto;
    }
}

@media (max-width: 1000px) {
    .goal {
        padding: 0 20px;
    }

    .goal__title {
        font-size: 52px;
        font-weight: 200;
        line-height: 57px;
        margin-bottom: 98px;
    }

    .goal__cards {
        grid-auto-rows: 400px;
        grid-gap: 30px;
    }

    .card__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
    }

    .card__image {
        max-width: 100%;
        max-height: 100%;
    }

    .goal__card_green .card__image {
        align-self: flex-start;
        margin-top: -77px;
    }

    .goal__card_grey .card__image {
        margin-top: -15%;
    }

    .card_car .card__content-wrapper {
        margin-bottom: 104px;
    }

    .goal__card_red .card__image {
        display: none;
    }

    .goal__card_red .card__image:last-child {
        display: block;
        margin: auto;
    }
}

@media (max-width: 820px) {
    .goal__cards {
        grid-gap: 0;
        grid-auto-rows: 334px;
    }

    .goal__title {
        margin-bottom: 73px;
    }

    .goal__card_blue .card__image {
        margin-top: -14%;
    }
}

@media (max-width: 520px) {
    .goal__cards {
        grid-template-columns: 1fr;
    }

    .goal__title {
        margin-bottom: 54px;
        font-size: 32px;
        font-weight: 200;
        line-height: 35px;
    }

    .goal__card_blue .card__image {
        margin-top: -14%;
    }

    .card_car .card__content-wrapper {
        margin-bottom: 45px;
    }
}

/*favorites section*/
.favorites {
    width: 100%;
    max-width: var(--main-width);
    margin-bottom: 188px;
}

.favorites__title {
    font-size: 76px;
    font-weight: 200;
    line-height: 84px;
    margin-bottom: 91px;
    color: var(--grey);
}

.favorites__list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.favorites__link {
    position: relative;
    width: calc(100% * (1 / 4) - 50px - 1px);
    margin-bottom: 114px;
    font-size: 26px;
    line-height: 36px;
    color: var(--cyan);
    padding-top: 30px;
    border-top: 1px solid #0010361A;
}

.favorites__link:hover {
    color: var(--blue);
    border-top: 1px solid var(--blue);
    transition: .3s ease 50ms;
}

.favorites__easy {
    position: absolute;
    bottom: 160px;
    left: 180px;
}

.favorites__subtitle {
    display: block;
    font-weight: 300;
    font-size: 15px;
    color: var(--grey);
}

.favorites__circle {
    margin: -20px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 293px;
    height: 293px;
    border-radius: 50%;
    font-weight: 500;
    line-height: 21px;
    background: var(--blue);
}

.favorites__circle:hover {
    transition: .3s ease 50ms;
    filter: drop-shadow(10px 10px 10px var(--grey));
}

.circle__content {
    width: 150px;
}

.circle__agency {
    display: block;
    color: var(--grey-light);
    font-weight: 500;
    line-height: 21px;
}

.circle__suitcase {
    align-self: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 1350px) {
    .favorites {
        padding: 0 20px;
    }
}

@media (max-width: 1200px) {
    .favorites__title {
        font-size: 76px;
        font-weight: 200;
        line-height: 84px;
    }
}

@media (max-width: 1000px) {
    .favorites__title {
        font-size: 52px;
        line-height: 57px;
    }
}

@media (max-width: 820px) {
    .favorites__list {
        overflow: hidden;
    }

    .favorites__title {
        font-size: 32px;
        line-height: 35px;
    }

    .favorites__link {
        width: calc(100% * (1 / 3) - 50px - 1px);
    }
}

@media (max-width: 720px) {
    .favorites__list {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        /*TODO: horizontal scroll*/
        /*white-space: nowrap;*/
        /*overflow-x: auto;*/
        /*flex-direction: row;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*flex-wrap: nowrap;*/
    }

    .favorites__link {
        width: 200px;
    }
}

/*clients section*/
.clients {
    overflow: hidden;
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.clients__title {
    font-size: 200px;
    font-weight: 300;
    line-height: 231px;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #212121;
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}

.client__link {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid var(--grey-light);
    background-color: var(--white);
    color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.client__link_blue {
    background-color: var(--blue);
    color: var(--white);
    border-color: unset;
}

.clients__circle {
    position: relative;
    z-index: 1;
    width: 182px;
    min-width: 182px;
    height: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -45px auto 0;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.clients__circle:hover {
    transition: .3s ease 50ms;
    filter: drop-shadow(10px 10px 10px var(--grey));
    border-color: var(--grey);
}

.clients__circle span {
    display: block;
    font-weight: 300;
    line-height: 23px;
    color: var(--grey-middle);
}

.clients__circle > .circle__content {
    width: 100px;
}

.clients__dots {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
}

/*form-icons section*/
.interest {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 193px;
    background-color: var(--grey-lightest);
    padding: 124px 0 34px 233px;
}

.interest__left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.interest__title {
    font-size: 60px;
    font-weight: 300;
    line-height: 66px;
    color: var(--cyan);
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.interest__subtitle {
    line-height: 26px;
    color: var(--grey-middle);
    margin-bottom: 50px;
}

/*TODO: common classes for forms*/
.interest__form {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.interest__input {
    background: url(../img/svg/form-icons/person.svg) no-repeat scroll 7px 7px;
    padding: 15px 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.interest__label:nth-child(1) > .interest__input {
url(../img/svg/interest/person.svg) no-repeat scroll 5 px 13 px;
}

.interest__label:nth-child(2) > .interest__input {
    background: url(../img/svg/form-icons/device-mobile.svg) no-repeat scroll 5px 13px;
}

.interest__label:nth-child(3) > .interest__input {
    background: url(../img/svg/form-icons/briefcase.svg) no-repeat scroll 5px 13px;
}

.interest__label:nth-child(4) > .interest__input {
    background: url(../img/svg/form-icons/mail.svg) no-repeat scroll 5px 13px;
}

.interest__label {
    width: fit-content;
}

.interest__button {
    width: 100%;
    background-color: var(--cyan);
    padding: 15px;
    border-radius: 6px;
    color: var(--white);
}

.checkbox-container {
    width: 300px;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    font-weight: 300;
    line-height: 19px;
}

.checkbox-container span {
    font-weight: 500;
    color: var(--blue);
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid var(--blue);
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #eee;
}

.checkbox-container input:checked ~ .checkmark {
    border: 1px solid var(--blue);
}

.checkmark {
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 11px;
    top: -9px;
    width: 12px;
    height: 25px;
    border: solid var(--blue);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.interest__right {
    position: relative;
}

.interest__circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 302px;
    height: 302px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 50%;
}

.circle__text {
    color: var(--grey-middle);
}

.circle__text > a {
    color: var(--grey-middle);
    text-decoration: underline;
}

@media (max-width: 1830px) {
    .interest {
        width: 95%;
        padding: 138px 0 137px 108px;
    }

    .interest * {
        margin: auto;
    }

    .interest__left {
        width: 70%;
        gap: 20px;
    }

    .interest__title {
        text-align: center;
    }

    .interest__subtitle {
        text-align: center;
    }
}

@media (max-width: 1740px) {
    .interest {
        gap: 70px;
    }
}

@media (max-width: 1350px) {
    .interest {
        padding: 138px 0 20px 20px;
    }
}

@media (max-width: 1000px) {
    .interest__title {
        font-size: 44px;
        font-weight: 300;
        line-height: 48px;
    }
}

@media (max-width: 850px) {
    .interest {
        width: 100%;
    }
}

@media (max-width: 820px) {
    .interest__form {
        width: 80%;
        grid-template-columns: 1fr;
    }

    .interest__label {
        width: 100%;
    }

    .interest__input {
        width: 100%;
    }

    .interest__right {
        overflow: hidden;
    }
}

@media (max-width: 720px) {
    .interest__left {
        width: 90%;
        gap: 20px;
    }

    .interest__form {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

/*blog section*/
.blog {
    width: 100%;
    max-width: var(--main-width);
    margin-bottom: 178px;
}

.blog__title {
    font-size: 76px;
    font-weight: 200;
    line-height: 84px;
    color: var(--cyan);
    margin-bottom: 75px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 54px;
}

.blog__article {
    padding: 55px;
    border: 1px solid var(--grey-light);
}

.article__header {
    display: flex;
    gap: 50px;
    margin-bottom: 23px;
}

.article__header * {
    color: var(--grey-middle);
}

.article__title {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: var(--cyan);
    margin-bottom: 11px;
}

.article__preview {
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 57px;
}

.article__footer {
    display: flex;
    gap: 25px;
}

.article__footer * {
    color: var(--grey-middle);
}

.article__footer > li {
    display: flex;
    align-items: center;
}

.article__footer > li > img {
    margin-right: 5px;
}

.blog__article:hover {
    background-color: var(--cyan);
    transition: .3s ease 50ms;
    filter: drop-shadow(10px 10px 10px var(--grey));
    border-color: var(--cyan);
}

.blog__article:hover * {
    color: var(--white);
    transition: .3s ease 50ms;
}

.blog__circle {
    position: relative;
    z-index: 1;
    width: 156px;
    min-width: 156px;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.blog__circle:hover {
    transition: .3s ease 50ms;
    filter: drop-shadow(10px 10px 10px var(--grey));
    border-color: var(--grey);
}

.blog__circle span {
    display: block;
    font-weight: 300;
    line-height: 23px;
    color: var(--grey-middle);
}

.blog__circle > .circle__content {
    width: 100px;
}

.blog__dots {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
}

@media (max-width: 1350px) {
    .blog {
        padding: 0 20px;
    }

    .blog__title {
        font-size: 62px;
        line-height: 68px;
    }
}

@media (max-width: 1270px) {
    .blog__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog__article:nth-child(n+5) {
        display: none;
    }
}

@media (max-width: 850px) {
    .blog__list {
        grid-template-columns: 1fr;
    }

    .blog__article {

    }

    .blog__article:nth-child(n+3) {
        display: none;
    }

    .blog__title {
        font-size: 52px;
        line-height: 57px;
    }
}

@media (max-width: 420px) {
    .blog__title {
        font-size: 32px;
        line-height: 35px;
    }

    .blog__article {
        padding: 55px 20px;
    }
}

/*footer*/
.page__container_bottom {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: var(--cyan);
}

.footer {
    width: 100%;
    max-width: var(--main-width);
    margin: 254px auto 100px;
}

.footer * {
    color: var(--white);
}

.footer__title {
    font-size: 210px;
    font-weight: 200;
    line-height: 186px;
}

.footer__idea {
    width: fit-content;
    display: block;
    font-family: Anjhay, serif;
    font-size: 64px;
    font-weight: 500;
    transform: rotate(-15deg);
    margin-bottom: 26px;
}

.footer__circle {
    width: 303px;
    height: 303px;
    margin: -28px auto 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);

    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.footer__mission {
    margin: -8px 0 115px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.mission__left {
    width: 150px;
    font-family: Anjhay, serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 17px;
}

.mission__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 46px;
    margin-bottom: 25px;
}

.mission__subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    opacity: .6;
}

.footer__center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 158px;
    align-items: center;
}

.center__contacts {
    display: none;
}

.center__left {
    display: flex;
    gap: 111px;
}

.center__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.center__container > a:hover {
    color: var(--blue);
    transition: .3s ease 50ms;
}

.center__suptitle {
    opacity: .5;
}

.center__telephone {
    font-size: 32px;
    font-weight: 300;
}

.center__email {
    font-size: 20px;
    font-weight: 300;
}

.center__socials {
    display: flex;
}

.center__socials-item {
    width: 133px;
    height: 133px;
    margin-right: -20px;
}

.center__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--grey);
    border-radius: 50%;
}

.center__socials-link:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--blue);
    border-radius: 50%;
    transition: .3s ease 50ms;
    background-color: rgba(0, 0, 255, .1);
}

.footer__lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.lists__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 53px;
}

.lists__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.lists__list * {
    opacity: .7;
}

.lists__see-more {
    margin-top: 16px;
}

.lists__see-more span {
    margin-top: 16px;
}

.lists__see-more img {
    margin-left: 10px;
}

.lists__list a:hover {
    opacity: 1;
    color: var(--blue);
    transition: .3s ease 50ms;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom * {
    opacity: .6;
}

.footer__bottom > a {
    text-decoration: underline;
}

.footer__bottom > a:hover {
    color: var(--blue);
    transition: .3s ease 50ms;
}

@media (max-width: 1400px) {
    .footer {
        padding: 0 144px;
    }
}

@media (max-width: 1350px) {
    .footer__title {
        font-size: 140px;
        line-height: 124px;
    }

    .center__left {
        gap: 20px;
    }
}

@media (max-width: 1350px) {
    .footer__title {
        font-size: 140px;
        line-height: 124px;
    }
}

@media (max-width: 1270px) {
    .footer__center {
        justify-content: center;
        gap: 50px;
    }
}

@media (max-width: 1160px) {
    .footer {
        padding: 0 50px;
    }

    .footer__lists {
        display: none;
    }

    .center__socials-item {
        width: 270px;
        height: 270px;
        margin-right: -40px;
    }
}

@media (max-width: 1000px) {
    .footer {
        margin: 174px auto 100px;
    }

    .footer__title {
        text-align: center;
        font-size: 128px;
        line-height: 113px;
        margin-bottom: 4px;
    }

    .footer__circle {
        width: 475px;
        height: 475px;
        margin: 0 auto 47px;
    }

    .footer__mission {
        margin-top: 0;
        justify-content: center;
    }

    .mission__right {
        display: none;
    }

    .mission__left {
        width: 230px;
        font-size: 48px;
    }

    .footer__mission {
        margin-bottom: 107px;
    }

    .center__left {
        display: none;
    }

    .center__contacts {
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: center;
    }

    .center__telephone {
        font-size: 64px;
    }
}

@media (max-width: 820px) {
    .footer__title {
        font-size: 80px;
        line-height: 71px;
        margin-bottom: 50px;
    }

    .footer__circle {
        width: 384px;
        height: 384px;
    }

    .footer__center {
        margin-bottom: 115px;
    }

    .center__socials-item {
        width: 212px;
        height: 212px;
    }

    .footer__bottom {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer__bottom {
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
    }
}

@media (max-width: 420px) {
    .footer {
        padding: 0 10px;
    }

    .center__socials-item {
        width: 117px;
        height: 117px;
        margin-right: -20px;
    }

    .center__telephone {
        font-size: 40px;
    }
}
